*{
    margin: 0%;
    padding: 0;
}
body{
   
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.menu-items{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding : 1rem 2rem;
    background-color: rebeccapurple;
}
.menu-items{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu-items li a{
    font-size: 1rem;
    padding:0.5em 1em;
    
}
header a{
    font-size: 2rem;
    color: rgb(224, 202, 235);
    text-decoration: none;
}
header a:hover{
    background-color: green;
}
.slide{
    background-image: url(images/hotel2.jpg);
    background-color: royalblue;
    padding: 250px 100px;
    margin: 0px;

    background-repeat: repeat-x;
}
.slide h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 300px;
    color: chocolate;
    margin-top: 20px;
}
.slide p{
    font-size: 30px;
}
.content{
    margin: 100px;
   padding: 100px;
}
.content h1{
   
    color: sienna;

}
.content h2{
    margin-left: 140px;
    font-size: 50px;
    color: sienna;
}
.content p{
    font-size: 30px;
  
}
.mid{
    margin: 0px;
    padding: 100px 100px;
    margin-right: auto;
    background-color: silver;
}
.mid img{
    height: 300px;
    width: 300px;
}
.middle{
    background-image: url(images/food2.jpg);
    
    margin: 100px;
    padding: 100px;
    margin-top: 150px;
}
.middle p{
    font-size: 50px;
    color: darkblue;
}
.ham{
    margin-left: 400px;
    margin-top: -307px;
}
.indoor{
    margin-left: 788px;
    margin-top: -302px;
}
.moto{
    background-color: tomato;
}
.mission{
    margin: 0px;
    margin-top: 30px;
    margin-left: 50px;
    background-image: url(images/food3.jpg);
    padding: 100px;
 
    background-repeat: no-repeat;
}
.vision{
    margin: 100px;
}
.vision p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 500px;
    margin-top: -150px;
}
.wine h1{
    font-size: 50px;
 
    margin: 100px;
    margin-left: 500px;
}
.wine img{
    height:700px;
    width: 1350px;
    margin-left: 0px;
}
.wine p{
    font-size: 20px;
    margin-left: 40px;
}
.oop{
    height: 1000px;
    width:100%;
}


.attend h1{
   margin: 200px;
}
.attend{
    background-color: white;
    margin-top: -200px;
}
.special{
    margin: 100px;
}

.content h1{
    margin-left: 300px;
}
footer{
    margin-top: 300px;
    width: 100%;
    height: 350px;
    background-color:black;
}
   

footer p{
    color:white;
}
.followus{
    height: 50px;
    width: 350px;
    /*border: 2px solid green;*/
    margin-left: 295px;
    margin-top: -150px;
    text-align: center;
    text-decoration: underline;
    font-size: 23px;
}
.contactus{
    height: 130px;
    width: 350px;
    /*border: 2px solid yellow;*/
    margin-left: 850px;
    margin-top: -100px;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
.copyright{
    height: 100px;
    width: 100%;
    border-top: 2px solid white;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px -350px;
    margin-left:350px;
    /*margin-top: -200px;*/
    /*border: 2px solid red;*/
    display: inline-block;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
